{% extends "view/layout.html" %}

{% block body %}
    <h2>Give Feedback</h2>
    <form action='{%url "create"%}'  method='post'>
        {% csrf_token %}
        <input type= "text"  placeholder='Title'  name='title' required="required"/><br>
        <input type= "text"  placeholder='Description'  name='description' required="required"/><br>
        <input type='text' name='category' placeholder='Category' >
        <input type="url" name='image' placeholder='Image Url'>
        <input type='submit' value='Submit'><br>
    </form>
{% endblock %}